venv
*.pyc
*.db
*.DS_Store
static/._jquery.spin.js
static/._spin.js
templates/._add_resources.html
templates/._unass_resources.html
static/._style.css
._daemons.py
templates/._unass_resources.html
._daemons.py ._.DS_Store ._poller
