body{
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: MidnightBlue;
	background-color: LightGreen;
}

div {
	border: .05em;
	border-style: solid;
	border-color: MidnightBlue;
}

.numinput {
	width: 3em;
}

.textinput {
	width: 6em;
}

#hw_groups {
	width: 30%;
	float: left;

}

#unass_resources {
	width: 30%;
	float: left;

}

#add_resources {
	width: 30%;
	float: left;
}

.ed_hwg {
	display: none;

}