<!-- add resources & groups -->
<h3>Add Resources & Groups</h3>

	<!-- add new hardware group -->
	<b>New Hardware Group Name:</b> <input type="text" id="add_hwg_name">
	<br>
	Pump Temp Threshold: <input type="text" id="add_hwg_pmp_temp_thresh">
	<br>
	Pump Moisture Threshold: <input type="text" id="add_hwg_pmp_moist_thresh">
	<br>

	Fan Temp Threshold: <input type="text" id="add_hwg_fan_temp_thresh">
	<br>
	Fan Moisture Threshold: <input type="text" id="add_hwg_fan_moist_thresh">
	<br>
	<button id = "add_hwg" type="button">Add</button>

	<br>
	<br>

	<!-- add new soil therm -->
	New Soil Thermometer 
	Name: <input type="text" id="add_sth_name">
	Address: <input type="text" id="add_sth_addr">
	<button id = "add_sth" type="button">Add</button>

	<br>

	<!-- add new soil hygro -->
	New Soil Hygrometer 
	Name: <input type="text" id="add_shy_name"> 
	Channel: <input type="text" id="add_shy_chan">
	<button id = "add_shy" type="button">Add</button>

	<br>

	<!-- add new pump -->
	New Pump 
	Name: <input type="text" id="add_pmp_name">
	Pin: <input type="text" id="add_pmp_pin">
	<button id = "add_pmp" class = "update_hw_groups" type="button">Add</button>

	<br>

	<!-- add new fan -->
	New Fan
	Name: <input type="text" id="add_fan_name">
	Pin: <input type="text" id="add_fan_pin">
	<button id = "add_fan" type="button">Add</button>