<!-- list current hardware groups -->
<h3>Current Hardware Groups:</h3>

	{% for hw_group in HardwareGroup.select() %}
		<b>{{ hw_group.name }}</b><button id =  "del_hwg_{{ hw_group.id }}" type="button">Delete</button>
		<br>
		Pump temp threshold: {{ hw_group.pump_temp_threshold }}
		<br>
		Pump moisture threshold: {{ hw_group.pump_moist_threshold }}
		<br>
		Fan temp threshold {{ hw_group.fan_temp_threshold }}
		<br>
		Fan moisture threshold {{ hw_group.fan_moist_threshold }}
		<br>
		<br>
		<i>Soil Thermometers:</i>
		<br>
		{% for soil_thermometer in hw_group.soil_thermometers %}
			Name:
			{{ soil_thermometer.name }}
			-
			Address:
			{{ soil_thermometer.address }} 
			Current reading:
			{{ soil_thermometer.curr_reading }}

			<button id = "rem_sth_{{ soil_thermometer.id }}" type="button">Remove</button>
			<button id = "del_sth_{{ soil_thermometer.id }}" type="button">Delete</button>
			<br>
		{% endfor %}

		<br>

		<i>Soil Hygrometers:</i>
		<br>
		{% for soil_hygrometer in hw_group.soil_hygrometers %}
			Name:
			{{ soil_hygrometer.name }}
			-
			Channel: {{ soil_hygrometer.channel }}
			Current reading:
			{{ soil_hygrometer.curr_reading }}

			<button id = "rem_shy_{{ soil_hygrometer.id }}" type="button">Remove</button>
			<button id = "del_shy_{{ soil_hygrometer.id }}" type="button">Delete</button>
			<br>
		{% endfor %}
		<br>

		<i>Pumps:</i>
		<br>
		{% for pump in hw_group.pumps %}
			Name:
			{{ pump.name }}
			-
			GPIO pin:
			{{ pump.gpio_pin }}

			<button id = "rem_pmp_{{ pump.id }}" type="button">Remove</button>
			<button id = "del_pmp_{{ pump.id }}" type="button">Delete</button>
			<br>
		{% endfor %}
		
		<br>

		<i>Fans:</i>
		<br>
		{% for fan in hw_group.fans %}
			Name:
			{{ fan.name }}
			-
			GPIO pin:
			{{ fan.gpio_pin }}
			
			<button id = "rem_fan_{{ fan.id }}" type="button">Remove</button>
			<button id = "del_fan_{{ fan.id }}" type="button">Delete</button>
			<br>
		{% endfor %}

	<br>

		<i>Lights:</i>
		<br>
		{% for light in hw_group.lights %}
			Name:
			{{ light.name }}
			-
			GPIO pin:
			{{ light.gpio_pin }}
			
			<button id = "rem_lgt_{{ light.id }}" type="button">Remove</button>
			<button id = "del_lgt_{{ light.id }}" type="button">Delete</button>
			<br>
		{% endfor %}

	{% endfor %}

	<br>