<!DOCTYPE HTML>
<html>

<head>
    <title>Plant Control</title>
</head>
<link rel="stylesheet" href="static/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="static/spin.js"></script>
<script src="static/jquery.spin.js"></script>
<script src="static/scripts.js"></script>

<body>
    <div id='hw_groups'>Loading...</div>
    <div id="unass_resources">Loading...</div>
    <div id="add_resources">Loading...</div>
</body>

</html>
