<!-- list unassigned resources -->
<h3>Unassigned Resources:</h3>

	<i>Soil Thermometers:</i>
		<br>
		{% for soil_thermometer in SoilThermometer.select().where(SoilThermometer.group == None) %}
			{{ soil_thermometer.name }} - Address: {{ soil_thermometer.address }} Current reading: {{ soil_thermometer.curr_reading }}

			<!-- assign dropdown -->
			<select id = "ass_sth_{{ soil_thermometer.id }}_group">
			{% for hw_group in HardwareGroup.select() %}
	  			<option value = "{{ hw_group.id }}"> {{ hw_group.name }} </option>
			{% endfor %}
			</select>

			<button id = "ass_sth_{{ soil_thermometer.id }}" type="button">Assign</button>
			<button id = "del_sth_{{ soil_thermometer.id }}" type="button">Delete</button>
			<br>
		{% endfor %}

		<br>

		<i>Soil Hygrometers:</i>
		<br>
		{% for soil_hygrometer in SoilHygrometer.select().where(SoilHygrometer.group == None) %}
			{{ soil_hygrometer.name }} - Channel: {{ soil_hygrometer.channel }} Current reading: {{ soil_hygrometer.curr_reading }}

			<!-- assign dropdown -->
			<select id = "ass_shy_{{ soil_hygrometer.id }}_group">
			{% for hw_group in HardwareGroup.select() %}
	  			<option value = "{{ hw_group.id }}"> {{ hw_group.name }} </option>
			{% endfor %}
			</select>

			<button id = "ass_shy_{{ soil_hygrometer.id }}" type="button">Assign</button>
			<button id = "del_shy_{{ soil_hygrometer.id }}" type="button">Delete</button>
			<br>
		{% endfor %}

		<br>

		<i>Pumps:</i>
		<br>
		{% for pump in Pump.select().where(Pump.group == None) %}
			{{ pump.name }} - GPIO pin: {{ pump.gpio_pin }}

			<!-- assign dropdown -->
			<select id = "ass_pmp_{{ pump.id }}_group">
			{% for hw_group in HardwareGroup.select() %}
	  			<option value = "{{ hw_group.id }}"> {{ hw_group.name }} </option>
			{% endfor %}
			</select>

			<button id = "ass_pmp_{{ pump.id }}" type="button">Assign</button>
			<button id = "del_pmp_{{ pump.id }}" type="button">Delete</button>
			<br>
		{% endfor %}

		<br>

		<i>Fans:</i>
		<br>
		{% for fan in Fan.select().where(Fan.group == None) %}
			{{ fan.name }} - GPIO pin: {{ fan.gpio_pin }}

			<!-- assign dropdown -->
			<select id = "ass_fan_{{ fan.id }}_group">
			{% for hw_group in HardwareGroup.select() %}
	  			<option value = "{{ hw_group.id }}"> {{ hw_group.name }} </option>
			{% endfor %}
			</select>

			<button id = "ass_fan_{{ fan.id }}" type="button">Assign</button>
			<button id = "del_fan_{{ fan.id }}" type="button">Delete</button>
			<br>
		{% endfor %}

		<i>Lights:</i>
		<br>
		{% for light in lights %}
			{{ light.name }} - GPIO pin: {{ light.gpio_pin }}

			<!-- assign dropdown -->
			<select id = "ass_lgt_{{ light.id }}_group">
			{% for hw_group in HardwareGroup.select() %}
	  			<option value = "{{ hw_group.id }}"> {{ hw_group.name }} </option>
			{% endfor %}
			</select>

			<button id = "ass_lgt_{{ light.id }}" type="button">Assign</button>
			<button id = "del_lgt_{{ light.id }}" type="button">Delete</button>
			<br>
		{% endfor %}
